body{
    background-color: #252525;
    color: #f5f5f5;
}

.list-group{
    margin: 0 auto;
    max-width: 500px;
    justify-content: center;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item span{
    display: block;
    width: 80%;
}

.input-group{
    margin: 0 auto;
    max-width: 500px;
}